<p>Historia cyklicznych płatności</p>

<div class="subscriptions">
  <ng-container *ngFor="let payment of payments">
    <app-subscription-widget  *ngIf="payment.type=='subscription'" [toggle]="false" [subscription]="payment"></app-subscription-widget>
    <app-recurring-widget  *ngIf="payment.type=='recurring'" [toggle]="false" [subscription]="payment"></app-recurring-widget>
  </ng-container>
</div>
