.subscription {
  margin-right: 2em;
  padding: 0.7em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0 8px 8px -8px;
  .details > p {
    margin: 0;
    text-align: center;
    &:nth-child(2){
      font-size: 0.5em;
    }
  }
  .details.name > p {
    text-align: left;
  }
  .round-icon {

    img {
      width: inherit;
      padding: 0.5em;
    }
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid dimgray;
  }
}


.form-check-input:checked {
  background-color: green;
  border-color: green;
}

.form-check-input:focus {
  border-color: unset;
  outline: 0;
  box-shadow: 0 0 0 0 dimgray;
}
