<div class="subscription" *ngIf="subscription.subscriber">
  <div class="round-icon">
    <img
      [src]="subscription.subscriber.logoUrl">
  </div>
  <div class="details name">
    <p>{{ subscription.subscriber.name | uppercase}}</p>
    <p>DODANO {{subscription.payTo}}</p>
  </div>
  <div class="details">
    <p>{{ subscription.price | currency:'PLN':'' }} zł</p>
    <p>miesięcznie</p>
  </div>
  <div *ngIf="toggle" class="form-check form-switch">
    <input (change)="cancel()" class="form-check-input" type="checkbox" [attr.checked]="subscription.status ? '' : null"
    >
  </div>
</div>
