<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Załóż konto</h3>

        <input type="email" class="form-control" placeholder="Email Address" #userEmail required>

        <input type="password" class="form-control" placeholder="Password" #userPwd required>

        <input type="button" class="btn btn-primary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">

    <div class="redirectToLogin">
      <span>Masz już konto? <span class="redirect" routerLink="/sign-in">Zaloguj sie</span></span>
    </div>
  </div>

</div>
