<div class="payments" *ngIf="authService.isLoggedIn">
  <app-widget [widget]="payments"></app-widget>
  <app-widget [widget]="mobile"></app-widget>
  <app-widget [widget]="different"></app-widget>
</div>

<div class="project-description" *ngIf="!authService.isLoggedIn">
  Wyobraźmy sobię sytuację, gdy użytkownik dostaje informacje o rachunku za prąd, internet wprost na konto aplikacji bankowej - całość może opłacić jednym kliknięciem. Setki maili dotyczących płatności zalegających na naszych skrzynkach pocztowych to nie rozwiazanie przyszłości. Dlaczego więc nie wysłać ich w jedno miejsce? Wraz z możliwością natychmiastowej płatności? Wprost do aplikacji bankowej? To rozwiązanie, które proponuje projekt Submager - wszystkie płatności cykliczne zarządzane w jednym miejscu.
</div>

