<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Zaloguj się do Twojej bankowości</h3>
        <input type="text" class="form-control" placeholder="login" #userName required>

        <input type="password" class="form-control" placeholder="hasło" #userPassword required>

      <div class="formGroup">
        <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
    </div>


  </div>
</div>
