* {
  font-family: "PKO Bank Polski Light", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}


.main {
  padding-top: 148px;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-device-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
