<div class="subscription" *ngIf="subscription.provider">
  <div class="round-icon">
    <img
      [src]="subscription.provider.logoUrl">
  </div>
  <div class="details name">
    <p>{{ subscription.provider.name | uppercase}}</p>
    <p>płatność do {{subscription.payTo}}</p>
  </div>
  <div class="details">
    <p>{{ subscription.price | currency:'PLN':'' }} zł</p>
    <p>miesięcznie</p>
  </div>
  <div *ngIf="toggle" class="form-check form-switch">
    <input (change)="pay()" class="form-check-input" type="checkbox" [attr.checked]="subscription.status ? '' : null">
  </div>
</div>
