
.text-logo {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.nav-shadow:after {
  content: "";
  display: block;
  height: 8px;
  background: transparent;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.75em;
  background-color: white;

  img {
    margin-right: 2.5em;
    height: 2.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      height: 1.5em;
      margin: 1em;
      font-weight: 800;
    }
  }
}

.active-link {
  border-bottom: 0.2em solid rgba(13,60,116,1);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-device-width: 600px) {
  .logo, .text-logo {
    display: none;
  }

  ul {
    overflow: initial;
  }

  nav {
    width: 100vw;
    overflow: scroll;
  }
}
