<nav class="container">
<!--  <img class="logo" src="./assets/pko.png" alt="PKO">-->
  <span class="text-logo">SUBmager</span>
  <ul *ngIf="authService.isLoggedIn">
    <li routerLink="/dashboard" routerLinkActive="active-link">Start</li>
    <li routerLink="/subscription" routerLinkActive="active-link">Subskrybcje</li>
    <li routerLink="/recurring" routerLinkActive="active-link">Płatności cykliczne</li>
    <li (click)="authService.SignOut()">Wyloguj</li>
  </ul>
<!--  <span class="user" *ngIf="user">{{user.email}}</span>-->
</nav>
<div class="nav-shadow"></div>
