<span>{{widget.title}}</span>
<div class="remittance">
  <div class="tile" *ngFor="let tile of widget.tiles">
    <div class="round-icon"><i [class]="tile.icon"></i></div>
    {{tile.text}}
  </div>
</div>
