.remittance {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.3em;
}

.tile {
  font-size: 0.5em;
  text-align: center;
  .round-icon {
    margin: auto;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background-color: rgba(13,60,116,1);
  }
}
