/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}
body {
  background-color: rgb(245,245,245);
}

@font-face {
  font-family: "PKO Bank Polski Light";
  src: local("pko-bank-polski-light"), url(./assets/fonts/pko-bank-polski-light.woff.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

app-nav {
  position: fixed;
  width: 100vw;
}


@media only screen and (max-device-width: 600px) {
  .details > p {
    font-size: 0.6em;

    &:nth-child(2){
      font-size: 0.3em !important;
    }
  }

    .subscription {
      margin-right: 0 !important;
    }
}
